<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.codingpark.cheesebrowser"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light"
        android:hardwareAccelerated="true"
        android:anyDensity="true">

        <activity
            android:name="BrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebActivity"/>

        <receiver android:name="BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <receiver android:name="ScheduleReceiver" >
            <intent-filter>
                <action android:name="net.codingpark.AUTO_STARTUP_ACTION" />
                <action android:name="net.codingpark.AUTO_SHUTDOWN_ACTION" />
                <action android:name="net.codingpark.MON_AUTO_STARTUP_ACTION" />
                <action android:name="net.codingpark.MON_AUTO_SHUTDOWN_ACTION" />
                <action android:name="net.codingpark.TUES_AUTO_STARTUP_ACTION" />
                <action android:name="net.codingpark.TUES_AUTO_SHUTDOWN_ACTION" />
                <action android:name="net.codingpark.WED_AUTO_STARTUP_ACTION" />
                <action android:name="net.codingpark.WED_AUTO_SHUTDOWN_ACTION" />
                <action android:name="net.codingpark.THUR_AUTO_STARTUP_ACTION" />
                <action android:name="net.codingpark.THUR_AUTO_SHUTDOWN_ACTION" />
                <action android:name="net.codingpark.FRI_AUTO_STARTUP_ACTION" />
                <action android:name="net.codingpark.FRI_AUTO_SHUTDOWN_ACTION" />
                <action android:name="net.codingpark.SAT_AUTO_STARTUP_ACTION" />
                <action android:name="net.codingpark.SAT_AUTO_SHUTDOWN_ACTION" />
                <action android:name="net.codingpark.SUN_AUTO_STARTUP_ACTION" />
                <action android:name="net.codingpark.SUN_AUTO_SHUTDOWN_ACTION" />
            </intent-filter>
        </receiver>

        <!-- Setup server with TCP socket -->
        <service android:name=".ControlClient"/>
    </application>

</manifest>